<section class="contact page-section row" data-panel="contact">

  <div class="contact-introduction column">
    <h1>CONTACT</h1>

    include "navigation.html"

  </div>

  <div class="column">

    <div class="contact-info">

      <h2 class="contact-infoTitle">Zeg hallo terug! :)</h2>

      <p class="contact-infoDescription">
        Gezellig! Ik hang op verschillende plekken op het internet uit, een berichtje achterlaten kan altijd!
      </p>

      <a class="contact-email" href="mailto:nickycorrelje@gmail.com">nickycorrelje@gmail.com</a>

      <div class="contact-social">
        <a class="social-icon" href="//www.linkedin.com/in/nickycorrelje" target="_blank">
          <img src="/images/linkedin.png">
        </a>
        <a class="social-icon" href="//www.instagram.com/toloveandlogic/" target="_blank">
          <img src="/images/instagram.png">
        </a>
        <a class="social-icon" href="//www.last.fm/user/IkBenNicky" target="_blank">
          <img src="/images/lastfm.png">
        </a>
      </div>

    </div>

  </div>

</section>
