<section class="contact page-section row" data-panel="contact">

  <div class="contact-introduction column">
    <h1>CONTACT</h1>

    include "navigation.html"

  </div>

  <div class="column">

    <div class="contact-info">

      <h2 class="contact-infoTitle">Drop me a line</h2>

      <p class="contact-infoDescription">
        I'm overly represented on the internet, but these are the easiest ways to contact me and to get to know me a little. :)
      </p>

      <a class="contact-email" href="mailto:nickycorrelje@gmail.com">nickycorrelje@gmail.com</a>

      <div class="contact-social">
        <a class="social-icon" href="//www.linkedin.com/in/nickycorrelje" target="_blank">
          <img src="/images/linkedIn.png">
        </a>
<!--        <a class="social-icon" href="//www.instagram.com/toloveandlogic/" target="_blank">
          <img src="/images/instagram.png">
        </a> -->
        <a class="social-icon" href="//www.last.fm/user/IkBenNicky" target="_blank">
          <img src="/images/lastfm.png">
        </a>
      </div>

    </div>

  </div>

</section>
