<section class="portfolio-case gifacompliment gifacompliment-section">

  <header class="gifacompliment-header">
    <div class="gifacompliment-headerPreTitle">
      gifacompliment
    </div>
    <h1 class="gifacompliment-headerTitle">
      GEEF OOK EENS EEN COMPLIMENT
    </h1>
    <button class="button portfolio-button" data-case="gifacompliment">DAT MOET IK ZIEN</button>
  </header>

  <article class="gifacompliment-article">
    <h2>GIF A COMPLIMENT</h2>
    <p>Webapp: <a href="http://www.gifacompliment.nl/">GIF A COMPLIMENT</a><br>
    <p>Concept by <a href="http://www.buutvrij.amsterdam">Buutvrij for Life</a></p>
    <!-- <blockquote>
        "lala"
     </blockquote> -->
    <h2>MOBILE</h2>
    <p>
      Strangely enough, giving compliments isn't something that comes easy to youngsters. While compliments are fun! Creative advertising agency Buutvrij came up with an idea to help them give compliments to each other and developed the concept 'GIF a Compliment', in which they can give each other a compliment with a GIF.    </p>
    <div class="gifacompliment-ipad"></div>
    <p>
      Teenagers spend a lot of time to keep up with their social media, games and other apps on their phones. This is the reason why GIF a Compliment is an optimized mobile webapp.
    </p>
    <h2>DESIGN</h2>
    <p>
      I got the honour to visually design this webapp, the only guideline I got was to make it in a pixelly-style. I had a fun time playing around with the pixel-style. I found it important to make the design as fun and colourful as possible without causing epilepsy (not sure I succeeded in that, but I haven't heard any complaints). :)
    </p>
    <div class="gifacompliment-tentenkamp"></div>
    <h2>ON THE RADIO & SPINAWARDS NOMINEE</h2>
    <p>
     The day the webapp launched, Giel Beelen send out GIF's on 3FM, a Dutch Radio Station. It resulted into a staggering 40.000+ views. 
    </p>
    <div class="gifacompliment-jimi"></div>
  </article>
</section>
