<section class="overmij page-section row" data-panel="over-mij">

  <div class="overmij-introduction column">
    <div class="overmij-introductionWrapper">
      <img class="overmij-introductionImage" src="/images/me.jpg">
      <h1>OVER MIJ</h1>
    </div>

    include "navigation.html"

  </div>

  <div class="column">

    <div class="overmij-description">

      <h3>Hallo!</h3>

      <p>
        Mijn naam is Nicky, een jaren ’90 kiddo uit de polder en nu woonachtig in Utrecht. Ik ben een user experience designer en vind het leuk om goede en vermakelijke teksten te typen.
      </p>

      <p>
        Mijn digitale-wereld-entree maakte ik bij Kaliber, creatief bureau voor interactieve merkbeleving. Tijdens mijn afstuderen heb ik me vastgebeten in een onderzoek naar bewustzijn creëren middels interactive storytelling. Daarna ben ik bij Kaliber aan de slag gegaan als user experience designer en content creator.
      </p>

      <p>
        Buiten werk luister of maak ik meestal muziek, kijk ik series in maffe talen of drink ik biertjes in goed gezelschap.
      </p>

    </div>

  </div>

</section>
