<section class="portfolio-case scriptie scriptie-section">

  <header class="scriptie-header">
    <div class="scriptie-headerPreTitle">
      SCRIPTIE
    </div>
    <h1 class="scriptie-headerTitle">
      INTERACTIVE STORYTELLING
    </h1>
    <button class="button portfolio-button" data-case="scriptie">DAT MOET IK ZIEN</button>
  </header>

  <article class="scriptie-article">
    <h2>Interactive storytelling als bewustwordingstool</h2>
    <p>
      Het was niet moeilijk om een onderwerp uit te kiezen waar ik mijn vier-maanden-afstudeer-isolement in ging. Ik was en ben nog steeds overtuigd van de kracht van interactive storytelling. Een goed verhaal vermaakt de lezer en houdt hem geboeid, het mooie van interactive storytelling is dat de betrokkene van het verhaal meer dan een lezer wordt.
    </p>
    <blockquote>
        “Welke factoren zijn bij interactive storytelling van belang om bewustwording bij jongeren te creëren over gewapende conflicten wereldwijd?”
    </blockquote>
    <p>
      allows viewers to focus on graphic aspects such as font, typography, and page layout without being distracted by the content. It also reduces the need for the designer to come up with meaningful text, as they can instead use quickly-generated lorem ipsum.
    </p>
    <div class="scriptie-ipad"></div>
    <p>
      The lorem ipsum text is typically a scrambled section of De finibus bonorum et malorum, a 1st-century BC Latin text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin.
    </p>
    <p>
      A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s by Aldus Corporation, which employed it in graphics and word processing templates for.
    </p>
    <div class="scriptie-tentenkamp"></div>
    <p>
      The lorem ipsum text is typically a scrambled section of De finibus bonorum et malorum, a 1st-century BC Latin text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin.
    </p>
    <p>
      A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s by Aldus Corporation, which employed it in graphics and word processing templates for.
    </p>
    <div class="scriptie-jimi"></div>
  </article>
</section>
